# Author name used to set creationInfo.author in data model objects. @appname@
# is replace by the name of the respective executable, @hostname@ by the name
# of the computer on which it runs.
author = scfditaly@@@hostname@

# Define the primary group of a module. This is the name of the group where a
# module sends its messages to if the target group is not explicitly given in
# the send call.
connection.primaryGroup = LOCATION

# The stream whitelist
streams.whitelist = *.*.*.HH*, *.*.*.HG*, *.*.*.HN*, *.*.*.EH*

# The stream blacklist
streams.blacklist = 8D.POH01.*.*,\
                    DK.*.*.*,\
                    4D.*.*.*,\
                    S.*.*.*,\
                    Y5.BH19A.*,\
                    LE.VOGT.*,\
                    Y7.*.*,\
                    DK.*.*,\
                    MN.RTC.*,\
                    MN.DPC.*,\
                    MN.ARPR.*,\
                    MN.ISP.*,\
                    MN.TNV.*,\
                    IV.USI.*,\
                    IV.VPOB.*,\
                    CH.GOURZ.*,\
                    IV.MPAZ.*

# Interval of the envelope computation. The maximum is taken with that data
# interval and declared as envelope value. The intervals do not overlap.
vsfndr.envelopeInterval = 1.0

# Path to Finder config.
finder.config = @SYSTEMCONFIGDIR@/FinDer-config/finder_italy.config

# Messaging group to send magnitudes to.
finder.magnitudeGroup = MAGNITUDE_FD

# Messaging group to send strong motion objects to.
finder.strongMotionGroup = LOCATION_FDSM

# Size of envelope buffer in seconds. This value should be set large enough for
# the longest anticipated rupture duration. The envelope buffer is a ring
# buffer and FinDer receives a maximum from it based on the time window defined
# by defaultFinDerEnvelopeLength.
finder.envelopeBufferSize = 300

# Defines the interval to scan amplitudes by Finder. If set to 0 then the scan
# is called as soon as an amplitude change has been detected. This can cause a
# high CPU usage.
finder.scanInterval = 3

# Sets the maximum absolute value of packet delay before issuing a warning.
# That parameter does not configure buffers as such but only a threshold (in
# seconds with fractional part) to warn the user that something is not
# real-time anymore. The default is 3s.
debug.maxDelay = 15
