THRESHOLDS 9 2.0 4.6 10.5 23.2 48.6 90.7 148.8 221.3 304.5			# <size_t> number of thresholds, list of their <double> PGA values
TEMPLATE_ID_FILE  /home/sysop/.seiscomp/FinDer-config/template.config		# <string> list of generic + fault-specific templates IDs uploaded into FinDer
TEMPLATE_SETS_FILES 1 /home/sysop/.seiscomp/FinDer-config/conf/generic_foreland.txt	# <string array>
DEFAULT_DEPTH  10.0								# <double> default depth for the earthquake source...this has no effect on FinDer calculation
DEFAULT_DEPTH_UNCER 5.0								# <double> default depth uncertainty for the earthquake source...no effect on calculation
MAG_OPTION  0									# <int> 1 for Wells and Coppersmith (e.g. CA) and 2 for Blaser (e.g. JP)
RUN_SPEED fast									# <string> "complete" or "fast" 
REGIONAL_MASK  /home/sysop/.seiscomp/FinDer-config/conf/gmt_input/Switzerland_mask_20161012.nc	# <string> [filename], "calculate" to generate a mask, "no_mask" if no mask
MASK_STATION_DISTANCE 75.0							# <double> [m] When calculating the mask, what is the max distance between stations
MIN_TRIGGER_STATIONS 3								# <size_t> minimum number of stations needed to trigger FinDer, minimum of 1
TRIGGER_RADIUS 50.0								# <double> the maximum radius between trigger stations
USE_FIXED_TRIGRAD no								# <string> switch for using station specific triggering radius
MAX_STATION_TRIGRAD 100.							# <double> max value (km) for station specific triggering radius
SECONDARY_NETWORKS 2 CE CSN							# <size_t> number of networks, list of their <string> network codes
BORDER_DEGREES 1.0								# <double> minimum 1.0, minimum degrees border around image
IMAGE_PIXELS 10.0								# <size_t> values > 0, number of pixels that have to pass the threshold to use the thresholds
MAX_IMAGE_PIXELS 50								# <size_t> values > 0, number of pixels that have to pass to move up a threshold
MIN_LIKELIHOOD_ESTIMATE_FOR_MESSAGE  0.65					# <double> value > 0.0, the minimum likelihood value for an estimate
SIGMA_LENGTH  1.0								# <double> value > 0.0, related to the misfit calculations
SIGMA_AZIMUTH 1.0								# <double> value > 0.0, related to the misfit calculations
SIGMA_LATLON  1.0								# <double> value > 0.0, related to the misfit calculations
MAX_RUPTURES 30									# <size_t> the max # of ruptures FinDer outputs for generic templates, min of 1
GMT_API_OPTION yes								# <string>  "yes" or "no" for using the GMT 5.2.0 API
GMT_PREFIX gmt									# <string> "gmt" for GMT 5.0, "---" for blank in front of gmt commands
GMT_PLOT no									# <string> "yes" or "no" for creating gmt_plots for offline testing
COLOR_SCALE /home/sysop/.seiscomp/FinDer-config/conf/gmt_input/log_pga_wald.cpt	# <string> [filename]
FAULT_DEFINITIONS /home/sysop/.seiscomp/FinDer-config/conf/gmt_input/jennings.xy	# <string> [filename]
STATION_CONFIG /home/sysop/.seiscomp/FinDer-config/conf/station_threshold.config	# <string> [filename] station specific thresholds
GMT_FOLDER /home/sysop/.seiscomp/FinDer-config/conf/gmt_input				# <string> [foldername]
DATA_FOLDER /home/sysop/.seiscomp/FinDer-output/foreland/				# <string> [foldername] place to put temp and temp_dir folders
STOP_LENGTH_DECREASE_PC 0.2
RESTART_LENGTH_INCREASE_PC 0.0001
UNCERTAINTY_METHOD 0
MAG_REGRESSION_THRESH 5.5                       				# <double> value below which regression may be carried out, above the threshold the original rupture-based FinDer magnitude will always be used. Set to a small value (e.g. -1.) to disable regression, or a high value (e.g. 10) to always use regression. Setting this value to ~5.5-6.0 should be appropriate, preferring an amplitude-based magnitude for smaller events and a rupture length based magnitude for finite fault events.
EPI_FAULT_DIST_THRESH 100
